{% extends 'base.html.twig' %}
{% block content %}
    <section class="pt-5">
        <div class="container">
            {{ form_start(edit_figure_form) }}
            <h2 class="text-center primary-text mb-5">Modifiez votre figure</h2>
            <div class="row g-3">
                {{ form_errors(edit_figure_form) }}
                <div class="col-12">
                    {{ form_label(edit_figure_form.name) }}
                    {{ form_widget(edit_figure_form.name) }}
                    {{ form_label(edit_figure_form.description) }}
                    {{ form_widget(edit_figure_form.description) }}
                    {{ form_label(edit_figure_form.content) }}
                    {{ form_widget(edit_figure_form.content) }}
                    {{ form_label(edit_figure_form.category) }}
                    {{ form_widget(edit_figure_form.category) }}
                    {{ form_label(edit_figure_form.video) }}
                    {{ form_widget(edit_figure_form.video) }}
                    <div class="col-12">
                        <ul id="image-fields-list"
                            data-prototype="{{ form_widget(edit_figure_form.images.vars.prototype)|e }}"
                            data-widget-tags="{{ '<li></li>'|e }}"
                            data-widget-counter="{{ edit_figure_form.images|length }}">

                            {% for image in edit_figure_form.images %}
                                <li>
                                    <img src="{{ asset('images/figures/'~ image.vars.data.name) }}" width="200px">
                                    <a href="{{ path('delete_image', {"id" : image.vars.data.id}) }}" class="btn btn-danger">Supprimer image</a>
                                    <br>
                                    <h4>Modifier l'image</h4>
                                    {{ form_errors(image) }}
                                    {{ form_widget(image) }}
                                </li>
                            {% endfor %}

                        </ul>

                        <button type="button"
                                class="btn btn-primary add-another-collection-widget"
                                data-list-selector="#image-fields-list">Ajouter nouvelle image</button>
                    </div>
                </div>
            </div>
            <div class="mt-3 text-end">
                <button class="btn btn-primary" type="submit">Modifier</button>
            </div>

            {{ form_end(edit_figure_form) }}
        </div>
    </section>
{% endblock %}