{% extends 'base.html.twig' %}

{% block content %}
    {% for message in app.flashes("success") %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
    <section id="main-section">
        <div class="div-wrapper">
            <div class="hero px-4 text-center text-white">
                <img class="d-block mx-auto mb-4" src="{{ asset('images/snowboard-1.png') }}" alt="" width="72" height="57">
                <h1 class="display-5 fw-bold text-uppercase">Le site référence des figures de ski</h1>
                <div class="col-lg-6 mx-auto my-1">
                    <p class="lead mb-4">Retrouvez toutes les figures et les tricks les plus en vogues du moment !
                    Vous aussi postez vos figures et faites-les partager à la communauté SnowTricks !</p>
                    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                        <a class="btn btn-primary btn-lg px-4 gap-3" href="{{ path('tricks_list') }}">Voir les figures</a>
                        {% if app.user %}
                            <a type="button" class="btn btn-outline-light btn-lg px-4" href="{{ path('tricks_list') }}?status=logged">Publie ta figure !</a>
                        {% else %}
                            <a type="button" class="btn btn-outline-light btn-lg px-4" href="{{ path('register') }}">Inscris-toi !</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            <img src="{{ asset('images/mountains.png') }}" class="mountains">
        </div>
    </section>

    <section class="my-5">
        <div class="container">
            <div class="text-center">
                <h2 class="fw-bold">Les dernières figures</h2>
            </div>
            <div class="row justify-content-around">
                {% for figure in figures|slice(0,8) %}
                    {% include 'macros/macro.tricks-card.html.twig' %}
                {% endfor %}
            </div>
            <div class="text-center">
                <a class="btn btn-primary btn-lg align-self-center" href="{{ path('tricks_list') }}">Voir toutes les figures</a>
            </div>
        </div>
    </section>
{% endblock %}