<div class="card my-4">
    <div class="card-body">
        {{ comment.content }}

        <div class="d-flex justify-content-between">
            <div class="d-flex flex-row align-items-center">
                <img src="{{ asset('images/logo.png') }}" alt="avatar" width="25"
                     height="25" />
                <p class="small mb-0 ms-2">{{ comment.user.username }}</p>
            </div>
            <div class="d-flex flex-row align-items-center">
                <p class="small text-muted mb-0">{{ comment.datecreation| date }}</p>
            </div>
        </div>
        {% if comment.datemodif %}
            <div class="d-flex justify-content-end">
                <div class="d-flex flex-row align-items-center">
                    <p class="small mb-0 primary-text"> modifié le {{ comment.datemodif| date }}</p>
                </div>
            </div>
        {% endif %}

        {% if not is_granted('ROLE_ADMIN') and app.user == comment.user %}
            <a href="{{ path('delete_comment', { 'id': comment.id }) }}" onclick="return confirm('Êtes-vous sûr de vouloir supprimer ce commentaire ?')" class="btn btn-danger mt-2">Supprimer mon commentaire</a>
        {% endif %}

        {% if app.user == comment.user %}
            <a href="{{ path('edit_comment', { 'id': comment.id} ) }}" class="btn btn-primary mt-2">
                Modifier commentaire
            </a>
        {% endif %}

        {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('admin_delete_comment', { 'id': comment.id }) }}" onclick="return confirm('Êtes-vous sûr de vouloir supprimer ce commentaire ?')" class="btn btn-danger mt-2">Supprimer</a>
        {% endif %}
    </div>
</div>