<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}SnowTricks - Le site numéro 1 des tricks{% endblock %}</title>
        {% block stylesheets %}
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link rel="shortcut icon" type="image/x-icon" href="{{ asset('icon/favicon.ico') }}"/>
            <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700;800&display=swap" rel="stylesheet">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand fw-bold" href="{{ path('main_home') }}"><img src="{{ asset('images/logo.png') }}" alt="" width="30" height="24"> SnowTricks</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{{ path('main_home') }}"><i class="fas fa-home pe-2"></i>Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('tricks_list') }}"><i class="fas fa-snowboarding pe-2"></i>Tricks</a>
                    </li>
                    {% if is_granted('ROLE_ADMIN') %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_admin') }}"><i class="fas fa-user pe-2"></i>Admin</a>
                        </li>
                    {% else %}
                    {% endif %}
                </ul>
                <ul class="navbar-nav">
                    {% if app.user %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('user_profile', {'slug' : app.user.username}) }}"><i class="fas fa-user-circle pe-2 primary-text"></i> {{ app.user.firstname }} {{ app.user.name }} - <span class="fw-bold">{{ app.user.username }}</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link primary-text" href="{{ path('app_logout') }}"><i class="fas fa-sign-out-alt pe-2"></i>Déconnexion</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('register') }}"><i class="fas fa-user pe-2"></i>Inscription</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_login') }}"><i class="fas fa-sign-in-alt pe-2"></i>Connexion</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

        {% block content %}{% endblock %}
        <footer class="mt-5 p-3 text-center">
            Créé et développé par C.Pietri dans le cadre d'un projet <a style="color: #444; text-decoration: underline;" href="https://openclassrooms.com">OpenClassrooms</a>
        </footer>
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            <script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>
        {% endblock %}
        {% block extra_js %}
        {% endblock %}
    </body>
</html>
