{% extends 'base.html.twig' %}

{% block content %}
    <section class="my-5" id="section-figure">
        <div class="container">
        {% if app.user %}
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary mb-5" data-bs-toggle="modal" data-bs-target="#figureModal">
                Poste ta figure
            </button>
            {{ form_start(figure_form) }}

            {{ form_errors(figure_form) }}

            {{ form_errors(figure_form.name) }}
            {{ form_errors(figure_form.description) }}
            {{ form_errors(figure_form.content) }}
            {{ form_errors(figure_form.video) }}
            {{ form_errors(figure_form.category) }}

            <!-- Modal -->
            <div class="modal modal-lg fade my-5" id="figureModal" tabindex="-1" aria-labelledby="figureModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="figureModalLabel">Partage avec tous le monde ta figure !</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <h2 class="text-center primary-text mb-3">Créer ta propre figure</h2>
                            <div class="row g-3">
                                <div class="col-6">
                                    {{ form_label(figure_form.name) }}
                                    {{ form_widget(figure_form.name) }}
                                </div>
                                <div class="col-6">
                                    {{ form_label(figure_form.description) }}
                                    {{ form_widget(figure_form.description) }}
                                </div>
                                <div class="col-12">
                                    {{ form_label(figure_form.content) }}
                                    {{ form_widget(figure_form.content) }}
                                </div>
                                <div class="col-6">
                                    {{ form_label(figure_form.category) }}
                                    {{ form_widget(figure_form.category) }}
                                </div>
                                <div class="col-6">
                                    {{ form_label(figure_form.video) }}
                                    {{ form_widget(figure_form.video) }}
                                </div>
                                <div class="col-12">
                                    <ul id="image-fields-list"
                                        data-prototype="{{ form_widget(figure_form.images.vars.prototype)|e }}"
                                        data-widget-tags="{{ '<li></li>'|e }}"
                                        data-widget-counter="{{ figure_form.images|length }}">
                                        {% for image in figure_form.images %}
                                            <li>
                                                {{ form_errors(image) }}
                                                {{ form_widget(image) }}
                                            </li>
                                        {% endfor %}
                                    </ul>

                                    <button type="button"
                                            class="btn btn-primary add-another-collection-widget"
                                            data-list-selector="#image-fields-list">Ajouter une nouvelle image</button>
                                </div>

                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                            <button type="submit" class="btn btn-primary">Publier la figure</button>
                            {{ form_end(figure_form) }}
                        </div>
                    </div>
                </div>
            </div>
        {% else %}

        {% endif %}

            <div class="row justify-content-around">
                {% for figure in figures %}
                    {% include 'macros/macro.tricks-card.html.twig' %}
                {% endfor %}
            </div>
        </div>

    </section>
{% endblock %}