{% extends 'base.html.twig' %}

{% block content %}
    <section class="my-5 pt-5" id="section-figure">
        <div class="container">
            <div class="row justify-content-around">
                <div class="col-12 my-2">
                    <div class="">
                        <div class="card__content">
                            {% if app.user == figure.user or is_granted('ROLE_ADMIN') %}
                            <div class="d-flex justify-content-end mb-2">
                                <a href="{{ path('edit_figure', { 'id': figure.id} ) }}" class="btn btn-primary mt-2">
                                    Modifier figure
                                </a>
                            </div>

                            {% else %}
                            {% endif %}
                            <p class="card__title fw-bold">{{ figure.name }}</p>
                            <p>Catégorie : <span class="fw-bold">{{ figure.category.name }}</span></p>
                            <p class="card__preci"><span class="fw-light">par </span>
                                <a href="{{ path('user_profile', { 'slug': figure.user.username }) }}">{{ figure.user.name }} {{ figure.user.firstName }}</a>
                                <span class="fw-light">
                                    le {{ figure.datecreation | date('d/m/Y') }} à {{ figure.datecreation | date('H:i') }}
                                </span>
                                {% if figure.datemodif %}
                                <div class="d-flex justify-content-start mb-2">
                                    <div class="d-flex flex-row align-items-center">
                                        <p class="small mb-0 primary-text"> modifiée le {{ figure.datemodif| date }}</p>
                                    </div>
                                </div>
                                {% else %}
                                {% endif %}
                            <p class="description">{{ figure.description|nl2br }}</p>
                            <div class="row">
                                <div class="col-12 col-md-7 py-5">
                                    <p class="content">{{ figure.content|nl2br }}</p>
                                    <div class="container">
                                        <iframe width="560" height="315" src="{{ figure.video }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                    </div>
                                </div>
                                <div class="col-121 col-md-5">
                                    {% for image in figure.images %}
                                        <hr class="bg-primary border-2 border-top border-primary my-4">
                                        <img src="{{ asset('images/figures/' ~ image.name) }}" alt="">
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <h3 class="h3 my-5">Espace de discussion</h3>

                {{ form_start(comment_form) }}
                {{ form_errors(comment_form) }}
                {{ form_row(comment_form.content, { 'label': 'Écrivez votre commentaire :' }) }}
                {{ form_end(comment_form) }}

            {# total items count #}
            <div class="count">
                {{ pagination.getTotalItemCount }} commentaires sur cette figure
            </div>

                {# table body #}
                {% for comment in pagination %}
                    {% include 'macros/macro.comment.html.twig' %}
                {% endfor %}

            {# display navigation #}
            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>

    </section>
{% endblock %}